.home {
	background-color: lightblue;
	p {color: dodgerblue; text-align: left; background-color: aliceblue; font-family: "Georgia";}
	h1 {color: dodgerblue; text-align: center; background-color: aliceblue; font-family: "Georgia";}
	h2 {color: dodgerblue; text-align: center; background-color: aliceblue; font-family: "Georgia";}
	address {color: aliceblue; background-color: dodgerblue; text-align: center; font-family: "Georgia";}
	.column {float: left; padding: 10px;} 
	.left, .right {width: 25%; min-height: 100vh; background-image: url(https://happywall-img-gallery.imgix.net/149075/teal_gold_peacock_plumes_limited.jpg?w=400&h=400&fit=crop&crop=top&auto=format&q=30);}
	.middle {width: 50%;}
	.row:after {content: ""; display: table; clear: both;}
}

.blog {
	background-color: lightcoral;
	p {color: darksalmon; text-align: left; background-color: lavenderblush;}
	h1 {color: darksalmon; text-align: center; background-color: lavenderblush;}
	address {color: lavenderblush; background-color: darksalmon; text-align: center;}
	.column {float: left; padding: 10px;} 
	.left, .right {width: 25%; min-height: 100vh; background-image: url(https://happywall-img-gallery.imgix.net/57339/pastel_jungle_leaves_limited.jpg?w=400&h=400&fit=crop&crop=top&auto=format&q=30);}
	.middle {width: 50%;}
	.row:after {content: ""; display: table; clear: both;}

}	

.playlists {
	background-color: white;
	p {color: black; text-align: left; background-color: white;}
	h1 {color: black; text-align: center; background-color: white;}
	address {color: white; background-color: black; text-align: center;}
	.column {float: left; padding: 10px;} 
	.left, .right {width: 25%; min-height: 100vh; background-image: url(https://thumbs.dreamstime.com/b/seamless-music-note-tile-15073749.jpg);}
	.middle {width: 50%;}
	.row:after {content: ""; display: table; clear: both;}

}	


* {
  box-sizing: border-box;
}


/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}